fastapi
uvicorn
streamlit
sqlalchemy
python-dotenv
python-jose
passlib
bcrypt
python-multipart
email-validator
fastembed
qdrant-client
google-genai
torch==2.6.0+cpu
transformers
pillow
requests
psycopg2-binary
--extra-index-url https://download.pytorch.org/whl/cpu